{% set user = {  'role': 'admin',  'email': 'alexis17@deprez.org'} %}
{% set navigation = {  'active': 'contacts'} %}
{% extends '_layouts/framework.html.twig' %}

{% block notifications %}
  <div class="alert alert-success alert-dismissible notification" role="status">
    Welkom, {{ user.email }}! Je bent succesvol ingelogd.
    <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'dialogs.close'|trans|capitalize }}">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item"><span>Contacten</span></li>
{% endblock %}

{% block header_title %}
  <h2>Contacten</h2>
{% endblock %}

{% block header_navigation %}
  <a class="btn btn-success" href="#">
    <i class="fa fa-plus"></i>
    Contact toevoegen
  </a>
{% endblock %}

{% block main %}
  <p>This is the content!</p>
{% endblock %}
