{% extends "_layouts/intermediate.html.twig" %}

{% block body %}
  <p class="text-center">
    Ga verder als:
  </p>

  <div class="text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <a class="btn btn-secondary" href="#">Beheerder</a>
      <a class="btn btn-secondary" href="#">Werknemer</a>
    </div>
  </div>
{% endblock %}
